.inputDiv{
   
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
  

   
}
.inputField{
    width: 30rem;
    height: 35px;
    border-radius: 7px;
    outline: none;
    margin-right: 10px;

}

.actions{
    padding: 14px 25px;
    background-color:brown;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    outline: none;
    border: none;
}